<a href="https://colab.research.google.com/github/jazmin08ibieta/cyp_2021/blob/main/17_noviembre_CyP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
edad=15
estatura=1.67
a=10
b=3

c=2**b+2+3+4

print(c)

e=estatura*2.0
print(e)

f=a/b # en python se hace el c√°lculo exacto
print(f) # Tambien podemos forzar el calculo de enteros

g=a//b # doble diagonal resultado en enteros
print("g=",g)

h=a%b
print("h=",h) #Modulo

num=11
print("Es par num?", (num%2)==0)

17
3.34
3.3333333333333335
g= 3
h= 1
Es par num? False

In [11]:
ecuacion=9+7*8-36/5 # 9+56-7.7  65-7.2=57.8
print(ecuacion)

57.8

In [12]:
ecuacion=(9+7)*8-36/5 # 128-7.2
print(ecuacion)

120.8

In [13]:
ecuacion=9+7*(8-36)/5
print(ecuacion)

-30.200000000000003

In [17]:
#Operadores logicos  True y False

x=5
y=4

valor=(x==y) #False
print(valor)

valor=(x!=y) #Son diferentes?   True
print(valor)

valor=(x<y) #menor que
print(valor)

valor=(x>y) #Mayor que
print(valor)

valor=(x>=y) #Mayor o igual que
print(valor)

valor=(x<=y) #Menor o igual que   
print(valor)

False
True
False

In [20]:
costo_chetos=7.0
tienda_abierta=True
capital_en_bolsa=10.0

se_compra=(costo_chetos < capital_en_bolsa) and (tienda_abierta==True)
print(se_compra)

True